body{
    margin: 0;
}
.selling{
    margin-left: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-wrap: nowrap;
    font-size: 13px;
}
.sellsettings > .sell-info a{
    text-decoration: none;
    color: black;
}
.sellsettings > .sell-info a p:hover,
.sellsettings > .sell-info a h2:hover {
    text-decoration: underline 1px;
}